button{
  width: 100%;
  min-height: 55px;
  margin-top: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 4px;
  background-color: #7540ee;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  outline: 0;
  &.sent{
    background: #2ecc71;
  }
}